%section.invert-section.no-padding-bottom.work-menu-item{:style=>"background-color:#FF275A;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Apps
					%a.btn.btn-lg.btn-default.btn-invert.double-margin-bottom{:href=>"apps.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				%img.img-responsive.margin-auto{:src=>"images/apps/apps_img.png", :width=>"500px"}
			.col-md-1