%section.work-menu-item{:style=>"background-color:#FCFCFC;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Evercheck
					%a.btn.btn-lg.btn-default{:href=>"evercheck.html"}
						View The Case Study
			.col-md-2
		.row
			.col-md-1
			.col-md-10
				.home-image-container
					#home-gear-container.animated.fadeIn
						%img#home-gear-one.hidden-xs{:src=>"images/evercheck/home_gear_one@2x.png"}
						%img#home-gear-two.hidden-xs{:src=>"images/evercheck/home_gear_two@2x.png"}
					%img#home-browser.img-responsive.margin-auto.margin-top.margin-bottom.animated.zoomIn{:src=>"images/evercheck/home_browser@2x.png", :width=>"293px"}
					%img#home-shadow.img-responsive.margin-auto.margin-top.margin-bottom.animated{:src=>"images/evercheck/home_shadow@2x.png", :width=>"183px"}
			.col-md-1