%section.work-menu-item.invert-section{:style=>"background-image:url(images/thrivepass/hero_blue.png); background-size:cover;"}
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h1.double-margin-bottom
						Thrivepass
					%a.btn.btn-lg.btn-default.btn-invert{:href=>"thrivepass.html"}
						View The Case Study
			.col-md-2