%section{style: "background-color:#fff;"}
  .container
    .row.triple-margin-bottom
      .col-md-12
        .margin-bottom
          .text-center
            %h1
              Apps
            %h3
              Select apps I have had the pleasure of designing
            .row
              .col-lg-2
              .col-lg-8
                %img.max-width.no-margin-bottom.triple-margin-top{src: "images/apps/icons.png"}
                .col-lg-2
              .clearfix
    .row
      .col-md-6.col-sm-6
        %h4
          About the project
        %p
          Wellhire is a innovative piece of software with simple offerings. The company makes hiring a breeze through online assessments. I was hired by wellhire to design a new look and feel for the product.
      .col-md-6.col-sm-6
        %h4
          My Role
        %p
          I worked with wellhire to completly re-design and re-build their product. We aimed to preserve popular functionality and highlight new features through a shiny new interface system.
=partial"app_section"

= partial "layouts/work_slider"

      