%section{style: "background-color:#fff;"}
  .container
    .row.triple-margin-bottom
      .col-md-12
        .margin-bottom
          .text-center
            %h1
              Apps
            %h3
              Select apps I have had the pleasure of designing.
            .row
              .col-lg-2
              .col-lg-8
                %img.max-width.no-margin-bottom.triple-margin-top{src: "images/apps/icons.png"}
                .col-lg-2
              .clearfix
    .row
      .col-md-12
        %h4
          About the apps
        %p
          We focus on creating apps that are in line with current industry standards and guidelines. Whether you wish to start your app from scratch, or as an extension of your current digital offering, we’re excited to hear about your app design needs.
=partial"app_section"

= partial "layouts/work_slider"

      