%section.invert-section{style: "background-color:#00376F;"}
  .container
    .row.triple-margin-bottom
      .col-md-12
        .margin-bottom
          .text-center
            %h1
              A Total Overhaul
            %h3
              Reimaging the way people monitor.
            .row
              .col-lg-2
              .col-lg-8
                %img.max-width.no-margin-bottom.margin-top{src: "images/evercheck/product_overview.png"}
                .col-lg-2
              .clearfix
              .divider
    .row
      .col-md-6.col-sm-6
        %h4
          About the project
        %p
          Evercheck offers license verification services. They help companies stay ahead with  their industry leading platform. We enhanced the way people interact with their service as a whole. From the first time people view the marketing site, to the interaction design of the native and desktop experience. 
      .col-md-6.col-sm-6
        %h4
          My Role
        %p
          I worked with Evercheck to design their first mobile application offering. We then set out to completely re-design the desktop experience. Starting with wireframes and working all the way through the marketing site.
%section
  .container
    .row
      .col-md-2
      .col-md-8
        .text-center
          %h2.margin-top
            The challenge
          %h3.no-margin-bottom
            Some examples of the desktop experience before we started.
      .col-md-2
    .row
      .col-md-1
      .col-md-10
        =partial"sliders/slider_old_prod"
      .col-md-1
    .row
      .col-md-3
      .col-md-6
        %p
          Before the update, the desktop app had a great functionality base. It was clear however, that there was a need for some re-organization. Over time, the user interface had outgrown its initial design system. 
      .col-md-3
%section.grid-bg
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Room for all
          %p
            Our first step was to design a solution that would accommodate an ever-growing site structure. We started by identifying major buckets of functionality. We then added supporting sub-navigation layouts. Each layout was mapped to a variable page system. So that they could be infinitely extendable.
      .col-sm-2
    .row
      .col-md-12
        %img.full-width.double-margin-top{src: "images/evercheck/wires.png"}
%section{style: "background-color:#F9F9FB;"}
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Reusable Components
          %p
            After exploring navigation, we identified components of the interface and applied the same extendable thinking. We designed a robust table that allowed for optional functionality based on requirements. We built a color coordinated system for different license types. Also, a way to organize status indications and form elements. All of these elements were key to the functionality of any page.  
      .col-sm-2
    .row
      .col-sm-1
      .col-sm-10.text-center
        %img.margin-auto.triple-margin-bottom.triple-margin-top.img-responsive{src: "images/evercheck/components_1.png", :style=>"right:40px; position:relative;"}
        %img.margin-auto.img-responsive{src: "images/evercheck/components_2.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Putting it all Together
          %p.no-margin-bottom
            With our layout and components assembled, we explored a light and approachable design palette. We made use of existing brand elements so the new layout would feel familiar to existing users. From there, like painting a house, we applied the design to each page of the application working from our wireframe blueprints. 
      .col-sm-2
    .row
      .col-md-12
        =partial"sliders/slider_new_prod"
%section.no-padding-top
  .container
    .row.margin-bottom
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            UI Guide
          %h3
            A simple UI guide was produced to illustrate color and type hierarchy.
      .col-sm-2
    .row
      .col-md-2
      .col-md-8.text-center
        %img.margin-auto.triple-margin-top.img-responsive{src:"images/evercheck/ui_guide.png"}   
      .col-md-2 
%img.margin-auto.img-responsive{style:"margin-bottom:-28px;",src:"images/evercheck/illustration_app.png",:width=>"236px"} 
%section.invert-section{style: "background-color:#145B96;"}
  .app-bg-bg
    .container
      .row.margin-bottom
        .col-sm-2
        .col-sm-8
          .text-center
            %h2
              The App
            %h3
              The Evercheck mobile app was designed to act as an extension of the full desktop offering. With an emphasis on reports and messages. 
        .col-sm-2
      .row
        .col-md-3
        .col-md-6
          =partial"sliders/slider_ec_app"
        .col-md-3
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Who Said Software Isn’t Any Fun?
          %p
            We were tasked with the goal of giving the marketing website a unique personality. To accomplish this, we created three illustration styles. Designed to work together to create an overarching feeling of positivity in the offering. 
      .col-sm-2
    .row.double-margin-top
      .col-sm-12.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustration_home.png"}
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/page_home.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Overview
          %h3
            We sprinkled the illustrations throughout the site alongside screenshots of the new product. We built the overview pages with a narrow column layout for optimal readability. 
      .col-sm-2
    .row.double-margin-top
      .col-sm-1
      .col-sm-10.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustration_overview.png"}
      .col-sm-1
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/page_overview.png"}
      .col-sm-1
%section
  .container
    .row
      .col-sm-2
      .col-sm-8
        .text-center
          %h2
            Even More...
      .col-sm-2
    .row.double-margin-top
      .col-sm-2
      .col-sm-8.text-center
        %img.margin-auto.img-responsive{src: "images/evercheck/illustrations_even_more.png"}
      .col-sm-2
    .row.triple-margin-top
      .col-sm-1
      .col-sm-10
        %img.margin-auto.img-responsive{src: "images/evercheck/pages_even_more.png"}
      .col-sm-1
    .row.text-center.double-margin-top
      .col-sm-12
        %a.btn.btn-xl.btn-default{href: "http://secure-thicket-6003.herokuapp.com"}
          View the Site
/ %section.invert-section{style: "background-color:#2EB350;"}
/   .container
/     .row
/       .col-sm-2
/       .col-sm-8
/         .text-center
/           %h5.text-uppercase.bold-font-name{:style=>"letter-spacing:2px;"}
/             what we learned
/           %h1
/             Timing is all
/           %p
/             Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.Donec facilisis tortor ut augue lacinia, at viverra est semper. 
/           %p
/             Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.Donec facilisis tortor ut augue lacinia, at viverra est semper. Sed sapien metus, scelerisque nec pharetra id, tempor a tortor. Pellentesque non dignissim neque. Ut porta viverra est, ut dignissim.
/       .col-sm-2
= partial "layouts/work_slider"