%section.invert-section.bg-cover{:style=>"background-image:url(images/thrivepass/hero_dark.png); "}
	.container
		.row
			.col-md-12
				.margin-bottom
					.text-center
						%h1
							Sprint to the Finish Line
						%h3
							Ready. Set. Thrive.
				.triple-padding-bottom
				.triple-padding-bottom
		.row
			.col-md-6.col-sm-6
				%h4
					About the project
				%p
					ThrivePass offers health perks to active employees for any company that signs up for the service. We created a simple mobile application that allows users to log their activities within the platform. Perks are calculated and delivered based on frequency of activity logging. 
			.col-md-6.col-sm-6
				%h4
					My role
				%p
					I was hired by ThrivePass to help them quickly realize a first cut at of their mobile application. Designed to be extendable enough to add more functionality as learnings progress. 

%section.grid-bg.no-padding-bottom
	.container
		.row
			.col-md-2
			.col-md-8
				.text-center
					%h2
						The Groundwork
					%h3.triple-margin-bottom
						Our goal in releasing the product was to move as quickly as possible so we could begin testing our assumptions. We mapped out a very basic user flow and organized activity commonalities from the existing desktop experience.  
			.col-md-2
	%div{:style=>"overflow-x:hidden;"}
		%img.margin-auto.triple-margin-top{:style=>"position:relative; right:200px;",:src=>"images/thrivepass/wires_1.png",:width=>"1570px"}	
	.container
	.container
		.row
			.col-lg-12
				%img.img-responsive.margin-auto.triple-margin-top{:src=>"images/thrivepass/wires_2.png"}	
		.row
			.col-md-2
			.col-md-8
				%img.img-responsive.margin-auto.triple-margin-top{ :src=>"images/thrivepass/wires_3.png"}	
			.col-md-2
				%img.img-responsive.margin-auto.triple-margin-top.hidden-sm.hidden-xs{ :src=>"images/thrivepass/text_wires_3.png", :style=>"position:relative; top:60px;"}	
		.row.triple-margin-top
			.col-md-3
			.col-md-6
				%p
					By mapping out commonalities and flows up front, we were able to break down the interface items into components and begin to design a system. 
			.col-md-3
		.row
			.col-md-4
			.col-md-4
				%img.img-responsive.margin-auto.triple-margin-top{ :src=>"images/thrivepass/wires_4.png", :width=>"332px"}	
			.col-md-4
				%img.img-responsive.margin-auto.triple-margin-top.hidden-sm.hidden-xs{ :src=>"images/thrivepass/text_wires_4.png", :width=>"181px", :style=>"position:relative; top:30px; right:40px;"}	
		.row.triple-margin-top.text-center
			.col-md-2
			.col-md-8
				%h2
					Prototype
				%p
					Half a week after kicking off the project, we had a functioning prototype. The prototype was designed to explore each activity flow. Logging workouts and measurements was currently available on the desktop app. Tracking workouts through “Verified check in’s” was new to the mobile experience. We explored all the edge cases of the new and existing functionality. 
				%h6
					Click around below to view the prototype. 
			.col-md-2
%section.grid-bg.no-padding-top
	.container
		.row
			.col-lg-12
				.app-preview.text-center
					%iframe.margin-auto{:allowfullscreen => "", :frameborder => "0", :height => "940", :src => "//invis.io/3J5F6HJ75", :width => "456"}
		.row.triple-margin-top
			.col-md-3
			.col-md-6
				%p
					Allowing users to add a location not found by the database started out as a big deal to us. Ultimately though, we decided to pull it from the first version of the app. 
			.col-md-3
%section.invert-section{style: "background-color:#4260CE;"}
	.container
		.row
			.col-sm-2
			.col-sm-8
				.text-center
					%h2
						Design Decisions
					%h3
						We worked toward two design variations of the ThrivePass app. For both, we chose to embrace Google Material Design patterns, as this system translates well across IOS and Android operating systems. 
			.col-sm-2
		.row
			.col-sm-3
			.col-sm-6.text-center
				%img.margin-auto.triple-margin-bottom.triple-margin-top.img-responsive{ src: "images/thrivepass/phones.png"}
			.col-sm-3
				%img.margin-auto.triple-margin-bottom.triple-margin-top.img-responsive.hidden-xs{ src: "images/thrivepass/text_phones.png",:style=>"position:relative; top:200px;",:width=>"181px"}
%section{style: "background-color:#FAFAFA;"}
	.container
		.row
			.col-lg-12
				.app-preview.text-center
					%iframe.margin-auto{:allowfullscreen => "", :frameborder => "0", :height => "940", :src => "//invis.io/Q35F6MUUF", :width => "456"}
%section.invert-section{style: "background-color:#292929;"}
	.container
		.row
			.col-sm-2
			.col-sm-8
				.text-center
					%h2
						Meaningful color
					%h3
						We developed a simple guide for color use. This allows users to cognitively understand which elements are important and why after a very short time using the app. 
			.col-sm-2
		.row
			.col-sm-4
			.col-sm-4.text-center
				%img.margin-auto.triple-margin-bottom.triple-margin-top.text-center{ src: "images/thrivepass/colors.png", :width=>"314px"}
			.col-sm-4
		.row
			.col-sm-12.text-center
				%img.margin-auto.triple-margin-bottom.img-responsive{ src: "images/thrivepass/phones_2.png"}
%section
	.container
		.row
			.col-sm-2
			.col-sm-8
				.text-center
					%h2
						Icons
					%p
						We didn’t want the design of the app to suffer as a result of our ambitious timeline. It was important that the app still feel polished and friendly, even as a version 1.0. 
					%p
						In response to this, we created a simple set of icons to help bring the design to life and compliment our color system. 
	%img.margin-auto.triple-margin-bottom.triple-margin-top.text-center.img-responsive{ src: "images/thrivepass/icons.png"}


= partial "layouts/work_slider"